* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #240046;
    color: #fff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    background-color: #3c096c;
    padding: 2em;
    border-radius: 0.5em;
}

.container .title h1 {
    font-size:2.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em ;
}

.container .game {
    width: 100%;
    max-width: 700px;   
    min-height: 300px;
    background-color: #5a189a;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.container .game > button:focus {
    outline: none;
    border-radius: 0.2em;
} 

.container .game > button {
    width: 60px;
    height: 60px;
    border-radius: 0.2em;
    margin: 0.3em;
    font-size: 3em;
    cursor: pointer;
    border: 1px solid #5a189a;
    transition: 0.2s ease-in-out;
    transform: rotate(0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #240046;
    transform: rotateY(180deg);
}

.container .game > button::before {
    position: absolute;
    content: "";
    border: 1px solid #5a189a;
    background-color: #240046;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    border-radius: 0.2em;
    opacity: 1;
    transition: 0.2s;
}

.container .game > button.openBox,
.container .game > button.matchBox
{
    transform: rotateY(0deg);
}
.container .game > button.openBox::before,
.container .game > button.matchBox::before
{
    opacity: 0;
}


.container .reset {
    max-width: 700px;
    padding: 0.5em;
    width: 100%;
    font-size: 2.5em;
    font-weight: bold;
    color: #5a189a;
    cursor: pointer;
    border: 2px solid #5a189a;
    transition: 0.3s ease-in-out;
    
}

.container .reset:focus {
    outline: none;
}

.container .reset:hover {
    color: #fff;
    background-color: #3c096c;
}


.gongrats {
    width: 100%;
    max-width: 700px;
    background-color: #5a189a;
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
    display: none;
}

@media(max-width:768px){
    .container {
        width: 95%;
        /* background-color: #240046; */
    }
    .container .title h1 {
        margin: 0.5em;
    }

    .container .game  {
        padding: 0.5em;
    }
    
}

@media(max-width:400px){
    .container .game > button {
        width: 40px;
        height: 40px;
    }
}